.git
.gitignore
node_modules
dist
tmp
out-tsc
.angular
coverage
__screenshots__

propmts/
*.postman_collection.json
README.md

Dockerfile
.dockerignore

.idea/
.vscode/
.history/
.DS_Store
Thumbs.db
npm-debug.log
